@page "/"
@using System.Timers
@using DmxLightControlDemo.Core
@inject IStateManager StateManager

<PageTitle>DMX Light Control Demo</PageTitle>

<div class="container">
    <h1>DMX Light Control Demo</h1>
    
    <p>Fixture:
        <InputSelect Value="_fixture.FixtureID" ValueExpression="() => _fixture.FixtureID" ValueChanged="(int fixtureID) => FixtureChange(fixtureID)">
            @foreach(var fixture in StateManager.Fixtures)
            {
                <option value="@fixture.FixtureID">@fixture.Name</option>
            }
        </InputSelect>
    </p>
    
    <p>Parameter:
        <InputSelect Value="_dmxParameter.Channel" ValueExpression="() => _dmxParameter.Channel" ValueChanged="(ushort channel) => ParameterChange(channel)">
            @foreach(var dmxParameter in _fixture.Parameters)
            {
                <option value="@dmxParameter.Channel">@dmxParameter.Name</option>
            }
        </InputSelect>
        </p>
    
    <div class="slideGrouper">
        <div class="sliderContain">
            <input type="range" step="1" @bind-value="_currentValue" min="0" max="255" @oninput="HandleRange">
        </div>
        <span class="slideValue">@_currentValue</span>
    </div>
</div>

@code
{
    private Fixture _fixture;
    private DmxParameter _dmxParameter;
    private byte _currentValue;
    private readonly Timer _timer = new ();

    // Load up the initial values for the dropdowns
    protected override Task OnInitializedAsync()
    {
        _fixture = StateManager.Fixtures.First();
        _dmxParameter = _fixture.Parameters.First();
        _currentValue = _dmxParameter.CurrentValue;
        return base.OnInitializedAsync();
    }
    
    // Handle a change to the slider, which is a range input limited to values between 0 and 255 in steps of 1
    private void HandleRange(ChangeEventArgs obj)
    {
        StateManager.SetDmxValue(_dmxParameter, Convert.ToByte(obj.Value));
        _currentValue = _dmxParameter.CurrentValue;
        _timer.Start();
    }

    // If the user selects a new fixtures, update the available parameters in the second dropdown
    private void FixtureChange(int fixtureId)
    {
        _fixture = StateManager.Fixtures.Single(x => x.FixtureID == fixtureId);
        _dmxParameter = _fixture.Parameters.First();
        _currentValue = _dmxParameter.CurrentValue;
        StateHasChanged();
    }

    // If the user selects a new parameter, update the slider value
    private void ParameterChange(ushort channel)
    {
        _dmxParameter = _fixture.Parameters.Single(x => x.Channel == channel);
        _currentValue = _dmxParameter.CurrentValue;
        StateHasChanged();
    }
}
